<div *ngIf="user">
    <div style="margin-top: 10%;" class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title"><h1>{{user.login}}</h1></h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-thumbnail github-avatar" src="{{user.avatar_url}}" alt="user profile picture">
                </div>

                <div class="col-md-8">
                    <div class="stats">
                        <span class="label label-default">{{user.public_repos}} Public Repos</span>
                        <span class="label label-primary">{{user.public_gist}} Public Gist</span>
                        <span class="label label-success">{{user.followers}} Followers </span>
                        <span class="label label-info">{{user.following}} Following </span>
                    </div>
                    <br>

                    <ul class="list-group">
                        <li class="list-group-item"><strong>Username:</strong> {{user.login}}</li>
                        <li class="list-group-item"><strong>Location:</strong> {{user.location}}</li>
                        <li class="list-group-item"><strong>Email:</strong> {{user.email}}</li>
                        <li class="list-group-item"><strong>Bio:</strong> {{user.}}</li>
                   
                </div>

            </div>
        </div>
    </div>



    
</div>